$colors: (
  common: (
    white: #ffffff,
    black: #292930,
    blue: #82cefd,
    pink: #ffadad,
    dpink: #fd346e,
    paste: #1ee2cf,
  ),
  heading: (
    primary: #292930,
  ),
  grey: (
    1: #f7f8fd,
    2: #f8f8f8,
  ),
  text: (
    body: #8a90a2,
    p: #8a90a2,
  ),
  theme: (
    1: #5956e9,
    2: #423ef3,
    primary: #ec3237,
    secondary: #57c9da,
  ),
  border: (
    1: #e8ecf2,
  ),
);
